
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1501123080302'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1501123080302#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1501123080302') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1501123080302') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1501123080302#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before { content: "\e616"; }

.icon-ttpodicon:before { content: "\e673"; }

.icon-weibiaoti2:before { content: "\e600"; }

.icon-ipad:before { content: "\e7a7"; }

.icon-safe:before { content: "\e6bc"; }

.icon-icon17:before { content: "\e621"; }

.icon-camera:before { content: "\e674"; }

.icon-right:before { content: "\e6d3"; }

.icon-feiji:before { content: "\e659"; }

.icon-liaotian:before { content: "\e620"; }

.icon-buy:before { content: "\e622"; }

.icon-tools:before { content: "\e930"; }

.icon-search-copy:before { content: "\e655"; }

.icon-xiazai:before { content: "\e61d"; }

.icon-icon:before { content: "\e61b"; }

.icon-bottom:before { content: "\e65a"; }

.icon-weibo:before { content: "\e69f"; }

.icon-all:before { content: "\e63f"; }

.icon-chushishangmen:before { content: "\e768"; }

.icon-zhibo:before { content: "\e636"; }

.icon-nvxing:before { content: "\e503"; }

.icon-weibo1:before { content: "\e63a"; }

.icon-email:before { content: "\e617"; }

.icon-xiangxia:before { content: "\e69e"; }

.icon-youxiang:before { content: "\e604"; }

.icon-yonghu:before { content: "\e615"; }

.icon-weixin:before { content: "\e707"; }

.icon-bookmark:before { content: "\e764"; }

.icon-zhibofuben:before { content: "\e609"; }

.icon-mima:before { content: "\e697"; }

.icon-qq:before { content: "\e671"; }

.icon-qq1:before { content: "\e623"; }

.icon-licai:before { content: "\e602"; }

.icon-play:before { content: "\e635"; }

.icon-bangong-zhiwei:before { content: "\e605"; }

.icon-game:before { content: "\e504"; }

.icon-weixin1:before { content: "\e62e"; }

.icon-top:before { content: "\e771"; }

.icon-yingyinshiting:before { content: "\e640"; }

